@import '../styles/variables.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  font-family: 'AV-Fontimer', sans-serif;
  font-style: normal;
  color: $color-white;
  overflow-x: hidden;
  background-color: black;
}

.wrapper {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
