@import '../../../../styles/variables.scss';

.work {
  margin-top: 250px;
  @include sm-down {
    margin-top: 100px;
  }
  @include xs-down {
    margin-top: 80px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 64px;
  max-width: 800px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.64px;
  @include sm-down {
    font-size: 48px;
    line-height: 54px;
    letter-spacing: 0.48px;
  }
  @include xs-down {
    line-height: 34px;
    font-size: 28px;
    letter-spacing: 0.28px;
  }
}

.list {
  margin-top: 64px;
  display: flex;
  max-width: 1150px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
  @include xs-down {
    margin-top: 40px;
    row-gap: 24px;
  }
}

.item {
  display: flex;
  column-gap: 32px;
  @include sm-down {
    column-gap: 24px;
  }
  @include xs-down {
    column-gap: 12px;
  }
}

.list-title {
  max-width: 400px;
  font-size: 38px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.38px;
  @include sm-down {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.3px;
  }
  @include xs-down {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.24px;
  }
}

.list-text {
  max-width: 400px;
  margin-top: 12px;
  color: rgba(255, 255, 255, 0.72);
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.2px;
  @include sm-down {
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.16px;
  }
  @include xs-down {
    margin-top: 8px;
  }
}
