@import '../../../../styles/variables.scss';

.hero {
  padding-top: 200px;
  overflow: hidden;
  position: relative;
  padding-bottom: 340px;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 0.1) 0%,
    rgba(73, 0, 170, 0) 100%
  );
  @include md-down {
    padding-top: 180px;
    padding-bottom: 200px;
  }
  @include sm-down {
    padding-top: 110px;
    padding-bottom: 100px;
  }
}
.container {
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}

.title {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  font-size: 130px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -1.3px;
  text-transform: uppercase;
  @include md-down {
    font-size: 80px;
    letter-spacing: -0.8px;
  }
  @include sm-down {
    font-size: 48px;
    letter-spacing: -0.48px;
  }
}
.text {
  position: relative;
  z-index: 2;
  padding-left: 30px;
  margin-top: 24px;
  font-size: 32px;
  font-weight: 300;
  line-height: 125%;
  max-width: 708px;
  letter-spacing: 0.64px;
  @include md-down {
    font-size: 28px;
  }
  @include sm-down {
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 125%;
  }
}

.wrapper {
  margin-top: 50px;
  display: flex;
  column-gap: 16px;
  position: relative;
  z-index: 2;
  padding-left: 30px;
  align-items: center;
  position: relative;
  overflow: hidden;
  @include md-down {
    margin-top: 45px;
  }
  @include sm-down {
    margin-top: 30px;
  }
}

.image {
  z-index: 1;
}

.ai-text {
  font-size: 48px;
  white-space: nowrap;
  font-weight: 500;
  letter-spacing: -0.48px;
  @include md-down {
    font-size: 36px;
    letter-spacing: -0.36px;
  }
  @include sm-down {
    letter-spacing: -0.24px;
    font-size: 24px;
  }
}
.ai-text span {
  opacity: 0;
  display: inline-block;
  animation: fadeInLetter 0.1s forwards;
}

.span-text {
  display: block;
  margin-right: 10px;
}

@keyframes fadeInLetter {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.button {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  align-items: center;
  padding: 16px 24px 14px 16px;
  border-radius: 100px;
  border: 1px solid #f9f9f9;
  background: #010101;
  color: $color-white;
  font-size: 22px;
  font-weight: 500;
  max-height: 72px;
  cursor: pointer;
  margin-top: 100px;

  @include md-down {
    margin-top: 80px;
  }

  @include sm-down {
    font-size: 12px;
    column-gap: 6px;
    padding: 12px 18px 12px 8px;
    margin-top: 60px;
  }
}
.button-text {
  margin-bottom: -4px;
}

.iframe {
  bottom: -200px;
  position: absolute;
  z-index: 0;
  filter: blur(2px);
  border: none;
  transform: scale(1.6);
  height: 100%;

  min-width: 100%;
  @include md-down {
    display: none;
  }
  @include sm-down {
    transform: scale(1);
  }
}
.background {
  display: none;

  @include md-down {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
    z-index: -2;
    min-height: 100%;
  }
}
