@import '../../../styles/variables.scss';

.footer {
  // if you need 3d
  padding-bottom: 500px;
  position: relative;
  padding-top: 72px;
  overflow: hidden;
  // padding-bottom: 30px;
  border-radius: 64px 64px 0px 0px;
  margin-top: 200px;
  box-shadow:
    0px -44px 160px 32px rgba(78, 2, 195, 0.64),
    0px -32px 250px 120px #2622a8;

  @include md-down {
    padding-top: 0;
    padding-bottom: 300px;
  }
}

.container-footer {
  position: relative;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  @include md-down {
    padding-top: 30px;
  }
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 64px;

  @include sm-down {
    flex-direction: column;
    align-items: end;
    row-gap: 26px;
  }
}

.list-link {
  font-size: 22px;
  color: $color-white;
  padding: 8px 16px;
  @include md-down {
    font-size: 18px;
  }
}
.spline-watermark {
  display: none;
}

// if you need 3d
.iframe-container {
  position: relative;
  width: 100%;
  z-index: -1;
  margin-top: -100px;
}

.iframe {
  position: absolute;
  height: 100%;
  min-width: 100%;
  border: none;
  z-index: -1;
}

// .background {
//   position: absolute;
//   width: 100%;
//   z-index: -1;
//   min-height: 100%;
// }
.copyright {
  // if you need 3d
  position: absolute;
  bottom: 30px;
  left: 64px;
  // margin-top: 500px;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.32);
  letter-spacing: -0.33px;
  z-index: 2;
  @include md-down {
    font-size: 18px;

    letter-spacing: -0.27px;
  }
  @include sm-down {
    font-size: 16px;
    max-width: 200px;
    letter-spacing: -0.24px;
  }
}
